@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Quadrillion";
  font-style: normal;
  font-weight: 400;
  src: url("https://db.onlinewebfonts.com/t/87f72dfc88ac9977f4a1c7b2af0c6a51.eot");
  src: url("https://db.onlinewebfonts.com/t/87f72dfc88ac9977f4a1c7b2af0c6a51.eot?#iefix") format("embedded-opentype"),
       url("https://db.onlinewebfonts.com/t/87f72dfc88ac9977f4a1c7b2af0c6a51.woff2") format("woff2"),
       url("https://db.onlinewebfonts.com/t/87f72dfc88ac9977f4a1c7b2af0c6a51.woff") format("woff"),
       url("https://db.onlinewebfonts.com/t/87f72dfc88ac9977f4a1c7b2af0c6a51.ttf") format("truetype"),
       url("https://db.onlinewebfonts.com/t/87f72dfc88ac9977f4a1c7b2af0c6a51.svg#QuadrillionW05-Regular") format("svg");
}



.react-datepicker__header {
  @apply bg-gradient-to-r from-blue-500 to-indigo-600 text-white;
}

.react-datepicker__triangle {
  border-top-color: #4f46e5; /* Adjust this color to match the gradient */
}